@font-face {
  font-family: 'vazir';
  src: url(../fonts/Vazir-Regular.eot) format('eot');
  src: url(../fonts/Vazir-Regular.ttf) format('truetype'),
    url('../fonts/Vazir-Regular.woff') format('woff'),
    url('../fonts/Vazir-Regular.woff2') format('woff2');

}

.theme:hover{
  cursor: pointer;
}
.card-body ul li {
  list-style: none;
  border-bottom: 1px solid rgb(235, 227, 227);

}

.card-body ul li:last-child {
  border-bottom: 1px solid transparent;
}

.card-body ul li a {
  /* color: #222; */
  text-decoration: none;
  padding: 7px 0;
  display: block;
  font-size: 16px;

}

/* .card-body {
  background-color: white;
} */

#customer {
  border-collapse: collapse;
  width: 100%;
}

#customer th {
  background-color: #04AA6D;
  color: white;
}

#customer td,
th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}

#customer tr:nth-child(even) {
  background-color: #dddddd;
}
.home a{
  float: center;
}
.btn-left{
  float: left;
}

